/* Navbar.css */
.navbar {
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
  }

  .navbar.active {
    background-color: #f8f9fa; /* Change background color when navbar is open */
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .navbar-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
  }

  .navbar-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
  }

  .navbar-links {
    display: flex;
    list-style-type: none;
  }

  .navbar-links.active {
    display: flex;
    flex-direction: column;
    background-color: #fff; /* Match navbar background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
  }

  .navbar-links li {
    margin: 0 10px;
  }

  .navbar-links li a {
    color: #333;
    text-decoration: none;
  }

  .auth-links {
    display: flex;
    align-items: center;
  }

  .auth-links a {
    margin-left: 20px;
    color: #333;
    text-decoration: none;
  }

  .logo img {
    height: 40px;
  }
